.side-menu{
    width: 240px;
    position: fixed;
    bottom:0;
    height: 100%;
    min-height: 100%;
    background-color: #172029;
    transition: 0.4s;
    overflow-y: auto;
    img{
        width: 50px;
        height: 50px;
    }
    .side-header{
        padding: 10px;
        background-color: #172029;
        text-align: center;
        .menu-label{
            margin-bottom: 0px;
            height: 50px;
            overflow: hidden;
            display:flex;
            h1{
                color:white !important;
            }
        }
        h1{
            font-size: 17px;
            align-self: center;
            margin-left: 10px;
            display: block;
        }
    }
    .side-body{
        .dropdown-hiddenSide{
            display: none;
        }
        .dropdown-click{
            cursor: pointer;
        }
        .side-label{
            font-size: 14px;
            font-weight: bold;
            letter-spacing: 1.2px;
            color: #556d85;
            padding-left: 20px;
            padding-top: 20px;
            overflow: hidden;
            height: 44px;
        }
        a{
            font-size: 14px;
            padding-bottom: 10px;
            padding-left: 20px;
        }
        a:hover{
            text-decoration: none;
        }
        a:hover{
            border-radius: 0px;
            background-color: #090d12;
            border-right: solid #d91515;
        }
        .router-link-exact-active {
            border-radius: 0px;
            background-color: #090d12;
            border-right: solid #d91515;
        }

        .menu-list{
            transition: 0.5s;
            margin-left:0px;
            padding-left:0px;
            a{
                color: white !important;
                opacity: 0.54;
            }
            a:hover{
                opacity: 1;
            }
            i{
                width: 15px;
            }
            li{
                height: 30px;
                overflow: hidden;
            }
        }
        
        background-color: #172029;
        height: 100%;
    }
    .separator-side{
        height: 2px;
        border: solid 1px #090d12;
        margin: 0px;
    }
    z-index: 1001;
}
.topnav{
    z-index: 1000;
    position: fixed;
    right: 0;
    width: calc(100% - 240px);
    transition: 0.4s;
    .navbar{
        height: 70px;
        background-image: linear-gradient(to left, white,white)
    }
}
#app{
    .dashboardContent{
        width: calc(100% - 240px);
        transition: 0.4s;
        padding-top: 90px;
        position: absolute;
        right: 0;
        left: auto;
        padding-left: 40px;
        padding-right: 20px;
        background-color: #f5f5f5;
        .table{
            width: 100%;
        }
    }

}
.dashboardContent-change{
    .dashboardContent{
        width: calc(100% - 80px) !important;
        transition: 0.4s;
    }

}
.size-50{
    font-size: 50px;
}
.size-40{
    font-size: 40px;
}

.notif-space{
    border-left: solid 1px #d0d0d0;
    margin-top:0px;
    margin-bottom:0px;
    min-width: 50px;
    font-size: 30px;
    cursor: pointer;
}
.notif-space:hover{
    background-color: whitesmoke;
}
.box-hamburger{
    border-right: solid 1px #d0d0d0;
    width: 80px;
    cursor: pointer;
    .hamburger{
        margin-left: 13px;
        .bar1, .bar2, .bar3 {
            width: 30px;
            height: 3px;
            background-color: #333;
            margin: 6px 0;
            transition: 0.4s;
        }      
        
    }
    .change{
        .bar1 {
            -webkit-transform: rotate(-45deg) translate(-7px, 5px);
            transform: rotate(-45deg) translate(-7px, 5px);
        }
        .bar2 {opacity: 0;}
        .bar3 {
            -webkit-transform: rotate(45deg) translate(-7px, -6px);
            transform: rotate(45deg) translate(-7px, -6px)
        }
    }
}
.box-hamburger:hover{
    background-color: whitesmoke;
}
.side-menu{
    .side-change{
        h1{
            display: none;
        }
    }
}
.topnav-change{
    width: calc(100% - 80px);
    transition: 0.4s;
}
.side-menu-change{
    width: 80px;
    transition: 0.4s;
    .side-body{
        .side-label{
            padding-left: 2px;
            transition: 0.5s;
            i{
                display: none;
            }
        }
        .menu-list{
            margin-left:0px;
            padding-left:0px;
            transition: 0.5s;

            span{
                display: none;
            }
            i{
                font-size: 18px;
                transition: 0.5s;

            }
          
        }
    }
}
.dropdown-space{
    min-width: 200px;
    cursor: pointer;
    .navbar-item{
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
        border-left: solid 1px #d0d0d0;
        .fa-user-circle{
            position: absolute;
            right: 40px;
        }
        .text-item{
            margin-right: 90px;
        }
        .mute-text, .name-text{
            font-size:16px;
            margin:0px;
        }
        
    }
    ul{
        list-style-type: none;
        margin-top: 0px;
    }
}
.box-dropdown-custom{
    background-color: #dbdbdb;
    border-radius: 0px;

    top: 100%;
}
.arrow-up{
    width: 0px;
    height: 0px;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #dbdbdb;
    border-top: 12px solid transparent;
    border-radius: 0px;
    position: absolute;
    top: calc(100% - 43px);
    min-width: 0px;
    z-index: 100;
    left: auto;
    right: 47px;
    background: transparent;
    box-shadow: none;
}
.modal{
    z-index: 2000;
}
.imgLabel{
    a{
        width: 100%;
        text-align: left;
        display: flex;
        text-decoration: none;
    }
}