.navbar{
    height: 60px;
    background-image: linear-gradient(272deg, #334353, #172029);
    box-shadow: 0 5px 16px 0 rgba(127, 127, 127, 0.2);
}
body{
    background-color: #f5f5f5 !important;
    min-height: 650px;
}
.box-login{
    width: 100%;
    max-width: 400px;
    height: 419px;
    border-radius: 3px;
    margin: auto;
    margin-top: 70px;
    .login-header{
        height: 80px;
        padding: 20px;
        border-radius: 3px;
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        background-color: #ffffff;
      
        border: solid 1px #dbdbdb;
    }
    .login-body{
        min-height: 240px;
        padding: 20px;
        border-radius: 3px;
      
        background-color: #ffffff;
      
        border: solid 1px #dbdbdb;
    }
    .control{
        width: 100%;
    }
}
.btn-custom{
    color: white;
    width:100%;
    border-radius: 4px;
    background-image: linear-gradient(to right, #02bcc3, #04969f);
}
.btn-custom:hover{
    color: white;
    background-image: linear-gradient(to left, #02bcc3, #04969f);

}

.footer-table-pagination{
    .flex{
        display: flex;
        .leading-loose{
            width: 50%;
            float: left;
        }
        .justify-end{
            width:50%;
            -ms-flex-pack: end !important;
            justify-content: flex-end !important;
            button{
                border-radius: 4px;
                border: solid 1px #d9d9d9;
                background-color: #ffffff;
                color: #172029;
                transition: 0.5ms;
            }
            
            .bg-teal-dark{
                background-color: #172029;
            }
        }
    }
}

.dashboardCardPrimary{
    background-color: #61ace9;
    border-color: transparent;
    color: #fff;
    text-align:center;
    .center{
        font-size: 50px;
    }
}
.dashboardCardWarning{
    background-color: #ffec3d;;
    border-color: transparent;
    color: black;
    text-align:center;
    .center{
        font-size: 50px;
    }
}
.dashboardCardSuccess{
    background-color: #35b76c;;
    border-color: transparent;
    color: #fff;
    text-align:center;
    .center{
        font-size: 50px;
    }
}
.contentPost{
    height: 150px;
    overflow: hidden;
}
.imgPost{
    height: 160px;
    overflow: hidden;
    border-bottom: solid 2px #FCB316;
}
.postlandingpage{
    h4{
        margin-bottom: 0px !important;
    }
    h1{
        margin-top: 0px !important;
    }
}

#pageviewContent{
    margin-top: 135px;
    margin-bottom: 20px;
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background: #f5f5f5;
}

.inputFile{
    position: absolute;
    opacity: 0;
    width: 144px;
}

.uploadButton{
    max-width: 144px;
    float: right;
    position: relative;

}

.blogContent{
    h3{
        color: #f6ee26;
    }
    h4{
        color: #aeafaf;
    }
    h1{
        color: #a51c30;
        font-size: 40px
    }
}